body{
    background-color: rgb(44, 44, 223);
}
.container {
	width: 50%;
	margin: auto;
    height: 560px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.5); 
	border-radius: 15px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position:fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1 {
	text-align: center;
	margin-top: 20px;
    font-size: 40px;
}

form {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

label {
	font-size: 20px;
	margin-top: 10px;
}

input {
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    width: 60%;
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 50px;
    width: 60%;
    display: block;
        margin: 0 auto;
    
}

button:hover {
	background-color: #3e8e41;
}

a {
	display: block;
	text-align: center;
	margin-top: 40px;
	font-size: 18px;
}
